<h3>予定一覧</h3>
<p><%= link_to "ユーザー新規追加", :new_post %></p>
<table>
<thead>
    <tr>
    <th>id</th>
    <th>タイトル</th>
    <th>開始日</th>
    <th>終了日</th>
    <th>終日</th>
    <th>更新日時</th>
    </tr>
</thead>

<tbody>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.start_date %></td>
        <td><%= post.end_date %></td>
        <td><%= post.checkbox %></td>
        <td><%= post.updated_at %></td>
    </tr>
    <% end %>
</tbody>
</table>
 
 