<h3 class="back button"><%= link_to "一覧に戻る", :posts, class:"link" %></h3>
<div class="div-show"><h3 class="show-edit button"><span><i class="fa-solid fa-pencil"></i><%= link_to "編集", [:edit, @post], class:"link" %></span></h3></div>

<table class="show-table">
   <tr>
      <th>タイトル</th>
      <td><%= @post.title %></td>
   </tr>
   <tr>
      <th>開始日</th>
      <td><%= @post&.start_date&.strftime('%Y/%m/%d') %></td>
   </tr>
   <tr>
      <th>終了日</th>
      <td><%= @post&.end_date&.strftime('%Y/%m/%d') %></td>
   </tr>
   <tr>
      <th>終日</th>
      <td>
        <% if @post.checkbox == true %>
            <%= '○' %>
        <% else %>
            <%= '' %>
        <% end %>
      </td>
   </tr>
   <tr>
      <th>スケジュールメモ</th>
      <td><%= @post.content %></td>
   </tr>
</table>